.container{
    display: grid;
    grid-template-areas:
            "header header"
            "aside aside";

    grid-template-columns: 2fr 2fr;
    /*border: 1px solid red;*/
    background-color: black;
    /*margin: 30px;*/

}

body{
    background-color: black;
    /*margin-top: 0px;*/
}

header{
    grid-area: header;
    /*border: 1px solid red;*/
    text-align: center;
    font-size: 100px;
    color:darkred;
    /*background-color: gray;*/
    background:  url(https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif) fixed;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 30px;

}
#tab{
    grid-area: tab;
}
aside{
    grid-area: aside;
    /*border: 1px solid red;*/
    color: white;
    font-size: 40px;

}

nav{
    grid-area: myInfo;
    /*border: 1px solid red;*/
    color: white;
    font-size: 30px;
    text-align: center;
    /*margin-top: 60px; ;*/
}
.contactTxt{
    margin-top: 80px;
}


footer{
    grid-area: footer;
    /*border: 1px solid red;*/
    color: white;
    margin-top: 100px;
}

section{
    grid-area: pic;
}
textarea{
    height: 250px;
    width: 350px;
    /*color: white;*/

}
fieldset{
    height: 100%;
    width: 80%;
    margin-left: 60px;
    margin-top: 50px;

}

input{
    margin-bottom: 15px;
    margin-right: 125px;
    padding-right: 210px;
    padding-top: 10px;
}

a:visited{
    color: darkred;
}

/*form{*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

#signUpBtn{
    opacity: 0.5;
    height: 40px;
    width: 110px;
}

#home{
    /*grid-area: home;*/
    /*border: 1px solid darkred;*/
    text-align: center;
    color: white;
}

#resume{
    /*grid-area: resume;*/
    /*border: 1px solid black;*/
    text-align: center;
    color: white;
}

#reflections{
    /*grid-area: reflections;*/
    border-bottom: 1px solid darkred;
    text-align: center;
    color: white;
}

#aboutMe {
    /*grid-area: contact;*/
    /*border-top: 1px solid darkred;*/
    text-align: center;
    color: white;
}
#home,#resume,#reflections,#aboutMe {
    font-size: 30px;
    border-bottom: 1px solid darkred;
    padding-bottom: 40px;
}

#menuToggle
{
    display: block;
    position: relative;
    top: 20px;
    left: 20px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 5px;
    margin-bottom: 7px;
    position: relative;

    background:darkred;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: green;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    position: absolute;
    width: 200px;
    height: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 90px;

    background: darkred;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    color: green;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}

#myBtn {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid red; /* Remove borders */
    /*outline: none; !* Remove outline *!*/
    background-image: url("https://i.imgur.com/uIdT3WK.png");
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 26px;
    padding-bottom: 25px;
    padding-right: 35px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    opacity: 0.5;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

iframe{
    height: 750px;
    width:900px;
    margin-left: 350px;
    margin-top: 40px;
    border: 1px solid black;
}

a:visited{
    color: darkred;
}


a:hover{
    color: green;
}