.container{
    display: grid;
    grid-template-areas:
            "tab header header"
            "tab form myInfo"
            "tab footer myInfo";

    grid-template-columns: 1fr 2fr 2fr;
    border: 1px solid red;
    background-color: black;

}

header{
    grid-area: header;
    /*border: 1px solid red;*/
    text-align: center;
    font-size: 70px;
    color:darkred;
    background-color: gray;
    padding-bottom: 50px;
    padding-top: 50px;
}
#tab{
    grid-area: tab;
}
aside{
    grid-area: form;
    /*border: 1px solid red;*/
    color: white;
    font-size: 40px;

}

nav{
    grid-area: myInfo;
    /*border: 1px solid red;*/
    color: white;
    font-size: 40px;
    text-align: center;
}

footer{
    grid-area: footer;
    /*border: 1px solid red;*/
    color: white;
    margin-top: 100px;
}

section{
    grid-area: pic;
}
textarea{
    height: 250px;
    width: 350px;
    /*color: white;*/

}
fieldset{
    height: 100%;
    width: 80%;
    /*padding: 30px;*/
}

input{
    margin-bottom: 15px;
    margin-right: 125px;
    padding-right: 210px;
    padding-top: 10px;
}

a:visited{
    color: darkred;
}

/*form{*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

#signUpBtn{
    opacity: 0.5;
    height: 40px;
    width: 110px;
}

#home{
    /*grid-area: home;*/
    /*border: 1px solid darkred;*/
    text-align: center;
    color: white;
}

#resume{
    /*grid-area: resume;*/
    /*border: 1px solid black;*/
    text-align: center;
    color: white;
}

#reflections{
    /*grid-area: reflections;*/
    border-bottom: 1px solid darkred;
    text-align: center;
    color: white;
}

#aboutMe {
    /*grid-area: contact;*/
    /*border-top: 1px solid darkred;*/
    text-align: center;
    color: white;
}
#home,#resume,#reflections,#aboutMe {
    font-size: 30px;
    border-bottom: 1px solid darkred;
    padding-bottom: 40px;
}