html {
    background:  url(https://static1.squarespace.com/static/5808b8cae58c62d48017c814/5808bb82b8a79b2b732327cf/58f2f974197aea53172275e3/1492318918831/Webdesign-Amsterdam-Foto-1.png?format=1500w) no-repeat left fixed;
    /*background-size: cover;*/

}

body {
    height: 100%;
}


.container{
    display: grid;
    grid-template-areas:
            ". header header header"
            ". section section section";
            /*" aboutMe resume reflections contact"*/
            /*"footer footer footer footer";*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*border: 1px solid black;*/
    margin-left: 10%;

}

header{
    grid-area: header;
    border-bottom: 1px solid yellow;
    text-align: center;
    font-size: 70px;
    margin-top: 14%;
    /*padding-top: 75px;*/
    color: red;
    margin-left: 20%;
    margin-right: 2%;
    /*padding-right: 5%;*/
    padding-bottom: 5%;
}

section{
    grid-area: section;
    /*border-bottom: 1px solid green;*/
    text-align: center;
    font-size: 25px;
    margin-bottom: 80px;
    margin-top: 5%;
    color: red;
    padding-bottom: 60px;
    padding-left: 15%;
}

#aboutMe{
    grid-area: aboutMe;
    /*border: 1px solid black;*/
    /*text-align: center;*/
}

#resume{
    grid-area: resume;
    /*border: 1px solid black;*/
    /*text-align: center;*/
}

#reflections{
    grid-area: reflections;
    /*border: 1px solid black;*/
    /*text-align: center;*/
}

#contact{
    grid-area: contact;
    /*border: 1px solid black;*/
    /*text-align: center;*/
}

footer{
    grid-area: footer;
    /*border: 1px solid black;*/
    /*text-align: center;*/
}

#contact,#reflections,#aboutMe,#resume{
    font-size: 30px;
    color: red;
    display: inline-block;
    /*border-top: 1px solid darkred;*/
    padding-top: 5%;
    padding-left: 15%;
    text-align: center;
}

#signUpBtn{
    height: 55px;
    width: 100%;
    /*opacity: 0.5;*/

}

.pic{
    grid-area: pic;
}

/*body{*/
/*    background-color: white;*/
/*    !*margin-left: 50%;*!*/
/*    padding-right: 10%;*/
/*}*/

/*a{*/
    /*color:white;*/
/*}*/
a:visited{
    color: white;
}

a:hover{
    color: green;
}


nav{
    /*background: yellow;*/
}
