html {
    background:  url(https://i.imgur.com/jmMPNUk.gif) no-repeat left fixed;
    /*background-size: cover;*/

}

/*body {*/
/*    height: 100%;*/
/*}*/
/*html {*/
/*    background-color: grey;*/
/*}*/

.container{
    display: grid;
    grid-template-areas:
            ". header"
            ". section";
            /*" aboutMe resume reflections contact"*/
            /*"footer footer footer footer";*/
    grid-template-columns: 1fr 1fr;
    /*border: 1px solid black;*/
    /*margin-left: 10%;*/

}
.backgroundPic{
    grid-area: pic;
    /*border-right: 1px solid black;*/
}

header{
    grid-area: header;
    border-bottom: 2px solid darkred;
    text-align: center;
    font-size: 70px;
    margin-top: 25%;
    /*padding-top: 75px;*/
    color: darkblue;
    /*margin-left: 20%;*/
    /*margin-right: 2%;*/
    /*padding-right: 5%;*/
    padding-bottom: 5%;
}

section{
    grid-area: section;
    /*border-bottom: 1px solid green;*/
    text-align: center;
    font-size: 25px;
    /*margin-bottom: 80px;*/
    margin-top: 8%;
    color: darkblue;
    /*padding-bottom: 60px;*/
    /*padding-left: 15%;*/
}

/*#aboutMe{*/
/*    grid-area: aboutMe;*/
/*    !*border: 1px solid black;*!*/
/*    !*text-align: center;*!*/
/*}*/

/*#resume{*/
/*    grid-area: resume;*/
/*    !*border: 1px solid black;*!*/
/*    !*text-align: center;*!*/
/*}*/

/*#reflections{*/
/*    grid-area: reflections;*/
/*    !*border: 1px solid black;*!*/
/*    !*text-align: center;*!*/
/*}*/

/*#contact{*/
/*    grid-area: contact;*/
/*    !*border: 1px solid black;*!*/
/*    !*text-align: center;*!*/
/*}*/

footer{
    grid-area: footer;
    /*border: 1px solid black;*/
    /*text-align: center;*/
}

a{
    font-size: 20px;
    color: white;
    /*background-color: darkgrey;*/
    display: inline-block;
    /*border-top: 1px solid darkred;*/
    /*padding-top: 1%;*/
    padding-left: 3%;
    padding-right: 3%;
    /*padding-bottom: 1%;*/
    /*text-align: center;*/

}

#signUpBtn{
    height: 55px;
    width: 100%;
    /*opacity: 0.5;*/

}

.pic{
    grid-area: pic;
}

/*body{*/
/*    background-color: white;*/
/*    !*margin-left: 50%;*!*/
/*    padding-right: 10%;*/
/*}*/

/*a{*/
    /*color:white;*/
/*}*/
/*a:visited{*/
/*    color: darkgrey;*/
/*}*/

a:hover{
    background-color: darkblue;
}


nav{
    background: darkred;
    text-align: right;
}
