html {
    background:  url(https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif) no-repeat center center fixed;
    background-size: cover;
}

body {
    height: 100%;
}


.container{
    display: grid;
    grid-template-areas:
            "header header header header"
            "section section section section"
            " aboutMe resume reflections contact"
            "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    margin: 10%;

}

header{
    grid-area: header;
    /*border: 1px solid black;*/
    text-align: center;
    font-size: 80px;
    margin-top: 50px;
    /*padding-top: 75px;*/
    color: darkred;
}

section{
    grid-area: section;
    border-bottom: 1px solid green;
    text-align: center;
    font-size: 25px;
    margin-bottom: 80px;
    /*margin-top: 10px;*/
    color: darkred;
    padding-bottom: 60px;
}

#aboutMe{
    grid-area: aboutMe;
    /*border: 1px solid black;*/
    text-align: center;
}

#resume{
    grid-area: resume;
    /*border: 1px solid black;*/
    text-align: center;
}

#reflections{
    grid-area: reflections;
    /*border: 1px solid black;*/
    text-align: center;
}

#contact{
    grid-area: contact;
    /*border: 1px solid black;*/
    text-align: center;
}

footer{
    grid-area: footer;
    border: 1px solid black;
    text-align: center;
}

#contact,#reflections,#aboutMe,#resume{
    font-size: 30px;
    color: darkred;
    /*border-top: 1px solid darkred;*/
    /*padding-top: 30px;*/
}

#signUpBtn{
    height: 55px;
    width: 100%;
    /*opacity: 0.5;*/

}

.pic{
    grid-area: pic;
}

body{
    background-color: black;
}

/*a{*/
    /*color:white;*/
/*}*/
a:visited{
    color: black;
}

a:hover{
    color: green;
}

